@charset "UTF-8";

/*ESTILO PARA TELA */

*{
    padding: 0px;
    margin: 0px;
     
}

body{
    background-color: rgb(235, 222, 203);
}

html{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 1em;
}

header{
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px ;
}
header > h1{
    text-align: center;
}

menu ul{
    list-style-type: none;
    background-color: rgb(247, 198, 135);
    border-radius: 10px;
    
    

}

menu li {
    background-color: rgb(184, 110, 14) ;
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    
}
article{
    background-color: antiquewhite;
    width: 600px;
    display: block;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px  ;
    padding: 10px;
    
}

